*{
  scroll-behavior:smooth ;
}
.App{
  width: 100%;
  min-height: 100vh;
}

.navBar{
  display: flex;
  position: fixed;
  height: 6.5rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.pages,
.page{
  width: 100%;
}
